body{
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

#btn_bcksp {
    margin-top: 4px;
    margin-left: 1px;
}

.card-body {
    background-color: black;
    border-radius: 5% ;
}

#btn_clr, #calc-btn, #btn_bcksp {
    background-color: darkorange;
    border-style: none;
    color: white;
}

.oper-btn {
    background-color: darkslategray;
    color: white;
}

#calc-btn{
    margin-top: 4px;
}

#calc-btn:active{
    
}

#btn_clr{
    margin-top: 4px;
    margin-bottom: 4px;
}

.num{
    background-color: grey;
    color: white;
}

.calc-row {
    height: 100vh;
    font-family: 'Share Tech Mono', monospace;
}

.input-window {
    text-align: end;
    font-size: x-large;
}
